# Dynamic stock modelling tutorial with examples

In [2]:
# Import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

The new version of the dynamic_stock_model library is not available as a python library. Therefore, we need to have a copy of the file in the same folder as where we are working (or provide the path explicitly).

In [3]:
import dynamic_stock_model as dsm

In [4]:
# Let's have a look at what is included in the dsm package
help(dsm)

Help on module dynamic_stock_model:

NAME
    dynamic_stock_model

DESCRIPTION
    Class DynamicStockModel
    Check https://github.com/IndEcol/ODYM for latest version.

    Methods for efficient handling of dynamic stock models (DSMs)

    Created on Mon Jun 30 17:21:28 2014

    @author: Stefan Pauliuk, NTNU Trondheim, Norway, later Uni Freiburg, Germany
    with contributions from
    Sebastiaan Deetman, CML, Leiden, NL
    Tomer Fishman, IDC Herzliya, IL
    Chris Mutel, PSI, Villingen, CH

    standard abbreviation: DSM or dsm

    dependencies:
        numpy >= 1.9
        scipy >= 0.14

    Repository for this class, documentation, and tutorials: https://github.com/IndEcol/ODYM

CLASSES
    builtins.object
        DynamicStockModel

    class DynamicStockModel(builtins.object)
     |  DynamicStockModel(t=None, i=None, i_c=None, o=None, s=None, lt=None, s_c=None, o_c=None, name='DSM', pdf=None, sf=None)
     |
     |  Class containing a dynamic stock model
     |
     |  Attributes
     |  ----------
     |  t : Series of years or other time intervals
     |  i : Discrete time series of inflow to stock
     |  i_c : Time series from inflow to stock with age-cohorts
     |
     |  o : Discrete time series of outflow from stock
     |  o_c :Discrete time series of outflow from stock, by cohort
     |
     |  s_c : dynamic stock model (stock broken down by year and age- cohort)
     |  s : Discrete time series for stock, total
     |
     |  lt : lifetime distribution: dictionary
     |
     |  pdf: probability density function, distribution of outflow from a specific age-cohort
     |
     |  sf: survival function for different age-cohorts, year x age-cohort table
     |
     |
     |  name : string, optional
     |      Name of the dynamic stock model, default is 'DSM'
     |
     |  Methods defined here:
     |
     |  __init__(self, t=None, i=None, i_c=None, o=None, s=None, lt=None, s_c=None, o_c=None, name='DSM', pdf=None, sf=None)
     |      Init function. Assign the input data to the instance of the object.
     |
     |  check_stock_balance(self)
     |      Check wether inflow, outflow, and stock are balanced. If possible, the method returns the vector 'Balance', where Balance = inflow - outflow - stock_change
     |
     |  compute_evolution_initialstock(self, InitialStock, SwitchTime)
     |      Assume InitialStock is a vector that contains the age structure of the stock at time t0,
     |      and it covers as many historic cohorts as there are elements in it.
     |      This method then computes the future stock and outflow from the year SwitchTime onwards.
     |      Only future years, i.e., years after SwitchTime, are computed.
     |      NOTE: This method ignores and deletes previously calculated s_c and o_c.
     |      The InitialStock is a vector of the age-cohort composition of the stock at SwitchTime, with length SwitchTime
     |
     |  compute_i_c_from_s_c(self, InitialStock)
     |      Given a stock at t0 broken down by different cohorts tx ... t0, an "initial stock".
     |      This method calculates the original inflow that generated this stock.
     |      Example:
     |
     |  compute_i_from_s(self, InitialStock)
     |      Given a stock at t0 broken down by different cohorts tx ... t0, an "initial stock".
     |      This method calculates the original inflow that generated this stock.
     |      Example:
     |
     |  compute_o_c_from_s_c(self)
     |      Compute outflow by cohort from stock by cohort.
     |
     |  compute_o_c_from_s_c_with_i_c(self)
     |      Compute outflow by cohort from stock by cohort.
     |
     |  compute_outflow_mb(self)
     |      Compute outflow from process via mass balance.
     |      Needed in cases where lifetime is zero.
     |
     |  compute_outflow_pdf(self)
     |      Lifetime model. The method compute outflow_pdf returns an array year-by-cohort of the probability of a item added to stock in year m (aka cohort m) leaves in in year n. This value equals pdf(n,m).
     |      This is the only method for the inflow-driven model where the lifetime distribution directly enters the computation. All other stock variables are determined by mass balance.
     |      The shape of the output pdf array is NoofYears * NoofYears, but the meaning is years by age-cohorts.
     |      The method does nothing if the pdf alreay exists.
     |
     |  compute_outflow_total(self)
     |      Determine total outflow as row sum of cohort-specific outflow.
     |
     |  compute_s_c_from_i_c(self)
     |      With given inflow and lifetime distribution, the method builds the stock by cohort. It also allows for older cohorts to be considered in the model.
     |
     |  compute_s_c_inflow_driven(self)
     |      With given inflow and lifetime distribution, the method builds the stock by cohort.
     |
     |  compute_sf(self)
     |      Survival table self.sf(m,n) denotes the share of an inflow in year n (age-cohort) still present at the end of year m (after m-n years).
     |      The computation is self.sf(m,n) = ProbDist.sf(m-n), where ProbDist is the appropriate scipy function for the lifetime model chosen.
     |      For lifetimes 0 the sf is also 0, meaning that the age-cohort leaves during the same year of the inflow.
     |      The method compute outflow_sf returns an array year-by-cohort of the surviving fraction of a flow added to stock in year m (aka cohort m) in in year n. This value equals sf(n,m).
     |      This is the only method for the inflow-driven model where the lifetime distribution directly enters the computation. All other stock variables are determined by mass balance.
     |      The shape of the output sf array is NoofYears * NoofYears, and the meaning is years by age-cohorts.
     |      The method does nothing if the sf alreay exists. For example, sf could be assigned to the dynamic stock model from an exogenous computation to save time.
     |
     |  compute_stock_change(self)
     |      Determine stock change from time series for stock. Formula: stock_change(t) = stock(t) - stock(t-1).
     |
     |  compute_stock_driven_model(self, NegativeInflowCorrect=False)
     |      With given total stock and lifetime distribution,
     |      the method builds the stock by cohort and the inflow.
     |
     |  compute_stock_driven_model_initialstock(self, InitialStock, SwitchTime, NegativeInflowCorrect=False)
     |      With given total stock and lifetime distribution, the method builds the stock by cohort and the inflow.
     |      The extra parameter InitialStock is a vector that contains the age structure of the stock at the END of the year Switchtime -1 = t0.
     |      ***
     |      Convention 1: Stocks are measured AT THE END OF THE YEAR. Flows occur DURING THE YEAR.
     |      Convention 2: The model time t spans both historic and future age-cohorts, and the index SwitchTime -1 indicates the first future age-cohort.
     |      Convention 3: SwitchTime = len(InitialStock) + 1, that means SwitchTime is counted starting from 1 and not 0.
     |      Convention 4: The future stock time series has 0 as its first len(InitialStock) elements.
     |      ***
     |      In the year SwitchTime the model switches from the historic stock to the stock-driven approach.
     |      The year SwitchTime is the first year with the stock-driven approach.
     |      InitialStock contains the age-cohort composition of the stock AT THE END of year SwitchTime -1.
     |          InitialStock must have length = SwithTime -1.
     |      For the option "NegativeInflowCorrect", see the explanations for the method compute_stock_driven_model(self, NegativeInflowCorrect = True).
     |      NegativeInflowCorrect only affects the future stock time series and works exactly as for the stock-driven model without initial stock.
     |
     |  compute_stock_driven_model_initialstock_typesplit(self, FutureStock, InitialStock, SFArrayCombined, TypeSplit)
     |      With given total future stock and lifetime distribution, the method builds the stock by cohort and the inflow.
     |      The age structure of the initial stock is given for each technology, and a type split of total inflow into different technology types is given as well.
     |
     |      SPECIFICATION: Stocks are always measured AT THE END of the discrete time interval.
     |
     |      Indices:
     |        t: time: Entire time frame: from earliest age-cohort to latest model year.
     |        c: age-cohort: same as time.
     |        T: Switch time: DEFINED as first year where historic stock is NOT present, = last year where historic stock is present +1.
     |           Switchtime is calculated internally, by subtracting the length of the historic stock from the total model length.
     |        g: product type
     |
     |      Data:
     |        FutureStock[t],           total future stock at end of each year, starting at T
     |        InitialStock[c,g],        0...T-1;0...T-1, stock at the end of T-1, by age-cohort c, ranging from 0...T-1, and product type g
     |                                  c-dimension has full length, all future years must be 0.
     |        SFArrayCombined[t,c,g],   Survival function of age-cohort c at end of year t for product type g
     |                                  this array spans both historic and future age-cohorts
     |        Typesplit[t,g],           splits total inflow into product types for future years
     |
     |      The extra parameter InitialStock is a vector that contains the age structure of the stock at time t0, and it covers as many historic cohorts as there are elements in it.
     |      In the year SwitchTime the model switches from the historic stock to the stock-driven approach.
     |      Only future years, i.e., years after SwitchTime, are computed and returned.
     |      The InitialStock is a vector of the age-cohort composition of the stock at SwitchTime, with length SwitchTime.
     |      The parameter TypeSplit splits the total inflow into Ng types.
     |
     |  compute_stock_driven_model_initialstock_typesplit_negativeinflowcorrect(self, SwitchTime, InitialStock, SFArrayCombined, TypeSplit, NegativeInflowCorrect=False)
     |      With given total future stock and lifetime distribution, the method builds the stock by cohort and the inflow.
     |      The age structure of the initial stock is given for each technology, and a type split of total inflow into different technology types is given as well.
     |      For the option "NegativeInflowCorrect", see the explanations for the method compute_stock_driven_model(self, NegativeInflowCorrect = True).
     |      NegativeInflowCorrect only affects the future stock time series and works exactly as for the stock-driven model without initial stock.
     |
     |      SPECIFICATION: Stocks are always measured AT THE END of the discrete time interval.
     |
     |      Indices:
     |        t: time: Entire time frame: from earliest age-cohort to latest model year.
     |        c: age-cohort: same as time.
     |        T: Switch time: DEFINED as first year where historic stock is NOT present, = last year where historic stock is present +1.
     |           Switchtime must be given as argument. Example: if the first three age-cohorts are historic, SwitchTime is 3, which indicates the 4th year.
     |           That also means that the first 3 time-entries for the stock and typesplit arrays must be 0.
     |        g: product type
     |
     |      Data:
     |        s[t],                     total future stock time series, at end of each year, starting at T, trailing 0s for historic years.
     |                                  ! is not handed over with the function call but earlier, when defining the dsm.
     |        InitialStock[c,g],        0...T-1;0...T-1, stock at the end of T-1, by age-cohort c, ranging from 0...T-1, and product type g
     |                                  c-dimension has full length, all future years must be 0.
     |        SFArrayCombined[t,c,g],   Survival function of age-cohort c at end of year t for product type g
     |                                  this array spans both historic and future age-cohorts
     |        Typesplit[t,g],           splits total inflow into product types for future years
     |        NegativeInflowCorrect     BOOL, retains items in stock if their leaving would lead to negative inflows.
     |
     |      The extra parameter InitialStock is a vector that contains the age structure of the stock at time t0, and it covers as many historic cohorts as there are elements in it.
     |      In the year SwitchTime the model switches from the historic stock to the stock-driven approach.
     |      Only future years, i.e., years after SwitchTime, are computed and returned.
     |      The InitialStock is a vector of the age-cohort composition of the stock at SwitchTime, with length SwitchTime.
     |      The parameter TypeSplit splits the total inflow into Ng types.
     |
     |  compute_stock_total(self)
     |      Determine total stock as row sum of cohort-specific stock.
     |
     |  dimension_check(self)
     |      This method checks which variables are present and checks whether data types and dimensions match
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

VERSION
    <function __version__ at 0x7fe0b33a2d40>

FILE
    /Users/fernaag/Box/Teaching/TEP4290/2021/Github_repo/TEP4290/dynamic_stock_model/DSM tutorial/dynamic_stock_model.py

In [6]:
# We can now read our data
data = pd.read_excel('Data.xlsx')
# And let's also have a look
data.head()

   Unnamed: 0  EV stock  Stock change  Inflows  Outflows
0        2000         0           NaN      NaN       NaN
1        2001         0           NaN      NaN       NaN
2        2002       193           NaN      NaN       NaN
3        2003       221           NaN      NaN       NaN
4        2004       251           NaN      NaN       NaN

Make sure to have a good understanding of yoru data first and of what needs to be done. Clean your data first, it will make it easier for you to deal with it later

In [7]:
# We rename the column for the year
data.rename(columns={'Unnamed: 0': 'Year'})

    Year  EV stock  Stock change  Inflows  Outflows
0   2000         0           NaN      NaN       NaN
1   2001         0           NaN      NaN       NaN
2   2002       193           NaN      NaN       NaN
3   2003       221           NaN      NaN       NaN
4   2004       251           NaN      NaN       NaN
5   2005       255           NaN      NaN       NaN
6   2006       265           NaN      NaN       NaN
7   2007       266           NaN      NaN       NaN
8   2008       430           NaN      NaN       NaN
9   2009       535           NaN      NaN       NaN
10  2010       865           NaN      NaN       NaN
11  2011      2865           NaN      NaN       NaN
12  2012      6488           NaN      NaN       NaN
13  2013     13923           NaN      NaN       NaN
14  2014     30990           NaN      NaN       NaN
15  2015     55206           NaN      NaN       NaN
16  2016     77664           NaN      NaN       NaN
17  2017    108215           NaN      NaN       NaN
18  2018    150779           NaN      NaN       NaN
19  2019    211229           NaN      NaN       NaN

In [8]:
# But now if we check, it is still the same
data.head()

   Unnamed: 0  EV stock  Stock change  Inflows  Outflows
0        2000         0           NaN      NaN       NaN
1        2001         0           NaN      NaN       NaN
2        2002       193           NaN      NaN       NaN
3        2003       221           NaN      NaN       NaN
4        2004       251           NaN      NaN       NaN

In [9]:
# We have two options:
data.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
# Or re-define the variable: data = data.rename(columns={'Unnamed: 0': 'Year'})

In [10]:
data.head()

   Year  EV stock  Stock change  Inflows  Outflows
0  2000         0           NaN      NaN       NaN
1  2001         0           NaN      NaN       NaN
2  2002       193           NaN      NaN       NaN
3  2003       221           NaN      NaN       NaN
4  2004       251           NaN      NaN       NaN

In [13]:
# It's not very nice to work with NaN values, lets use 0 instead
data.fillna(0, inplace=True)

In [14]:
data.head()

   Year  EV stock  Stock change  Inflows  Outflows
0  2000         0           0.0      0.0       0.0
1  2001         0           0.0      0.0       0.0
2  2002       193           0.0      0.0       0.0
3  2003       221           0.0      0.0       0.0
4  2004       251           0.0      0.0       0.0

Now that we understand the data and have cleaned it, we can start modelling. Pandas is a very nice tool for having an overview of your data, but numpy is more pwerful for the calculations. Therefore, we will move to that format before using the dsm library

In [17]:
year = data['Year'].to_numpy()
stock = data['EV stock'].to_numpy()

In [20]:
year

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [21]:
# How many years do we have? 
len(year)

20

In [22]:
# Beware of the 0 indexing
year[20] # There are 20 items but the maximum index is 19. You can also use -1 instead.

IndexError: index 20 is out of bounds for axis 0 with size 20

## Building a model

In [25]:
# Let' initiate/define an MFA model
model = dsm.DynamicStockModel(t= year, s=stock, lt= {'Type': 'Normal', 'Mean': np.array([22]), 'StdDev': np.array([12])})

In [31]:
stock_tc, outflow_tc, inflows_t = model.compute_stock_driven_model() # Check what is the output of this method
ds = model.compute_stock_change()
outflows_t = model.compute_outflow_total()

In [32]:
stock_tc.shape

(20, 20)

## Let's now compile and export the results

In [34]:
data['Stock change'] = ds
data['Inflows'] = inflows_t
data['Outflows'] = outflows_t

In [35]:
data

    Year  EV stock  Stock change       Inflows     Outflows
0   2000         0           0.0      0.000000     0.000000
1   2001         0           0.0      0.000000     0.000000
2   2002       193         193.0    199.664090     6.664090
3   2003       221          28.0     30.347168     2.347168
4   2004       251          30.0     32.842613     2.842613
5   2005       255           4.0      6.442625     2.442625
6   2006       265          10.0     13.024727     3.024727
7   2007       266           1.0      4.167978     3.167978
8   2008       430         164.0    173.228727     9.228727
9   2009       535         105.0    113.821921     8.821921
10  2010       865         330.0    348.020293    18.020293
11  2011      2865        2000.0   2078.891616    78.891616
12  2012      6488        3623.0   3773.526622   150.526622
13  2013     13923        7435.0   7746.789365   311.789365
14  2014     30990       17067.0  17772.857762   705.857762
15  2015     55206       24216.0  25308.578952  1092.578952
16  2016     77664       22458.0  23702.590817  1244.590817
17  2017    108215       30551.0  32307.387143  1756.387143
18  2018    150779       42564.0  45058.579032  2494.579032
19  2019    211229       60450.0  64016.849165  3566.849165

In [37]:
data.to_excel('Results.xlsx')